<h1>Listing spielers</h1>

<table>
  <tr>
    <th>Spielername</th>
    <th>Teamid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spielers.each do |spieler| %>
  <tr>
    <td><%= spieler.spielerName %></td>
    <td><%= spieler.teamID %></td>
    <td><%= link_to 'Show', spieler %></td>
    <td><%= link_to 'Edit', edit_spieler_path(spieler) %></td>
    <td><%= link_to 'Destroy', spieler, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spieler', new_spieler_path %>
