<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teamHeim %><br />
    <%= f.number_field :teamHeim %>
  </div>
  <div class="field">
    <%= f.label :teamAuswaerts %><br />
    <%= f.number_field :teamAuswaerts %>
  </div>
  <div class="field">
    <%= f.label :toreHeim %><br />
    <%= f.number_field :toreHeim %>
  </div>
  <div class="field">
    <%= f.label :toreAuswaerts %><br />
    <%= f.number_field :toreAuswaerts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
